@font-face {
  font-family: Starjedi;
  src: url('./fontes/Starjedi.ttf');
}

p{color: black;}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.card{
  margin: 2%;
}
.corpo-cards{
  display: contents;
}

.cards img{
    width: auto;
    height: auto;
}
.footer{
  flex-shrink: none;
}
#copyright{
  margin-left: 20%;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  bottom: 0;
  position: relative;
  margin-top: 22%;
    
}
@media (min-width: 700px) and (max-width: 1024px){
  #sticky-footer {
    margin-top: 25%;
  }
} 

.navbar{
  background: linear-gradient(90deg, rgba(157,157,170,1) 0%, rgba(120,120,124,1) 35%, rgba(103,116,119,1) 100%);
}
.titulo-navbar{

  font-family: Starjedi;
  font-size: 28px;
}
.imagens-card{
  width: 20%;
}
.btnHistoria{
  width: 100% !important;
  margin-bottom: -6%;

}